@import "variables.scss";
@import "hovers.scss";


.hover-pointer {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid $primary;
}

.rounded-border {
    border-radius: 2em;
}

.default-margin{
    margin: 1em;
}

.default-padding{
    padding: .5em;
}

.box-shadow{
    box-shadow: .1em .1em .2em $blackLight;
}

.container{
    background-color: $white;

    @extend .hover-grow-subtle;
    @extend .default-margin;
    @extend .default-padding;
    @extend .rounded-border;
    @extend .box-shadow;
}