@import "animations";
@import "mixins";

.hover-shake:hover,
.hover-shake:active {
  animation: shake 500ms;
  animation-iteration-count: 1;
}

.hover-underline:after {
  content: "";
  position: relative;
  left: 0;
  display: inline;
  min-width: 100%;
  border-bottom: 1px solid;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

.hover-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.hover-elevate:hover {
  @include desktop{
    box-shadow: 0 .4em .4em $blackLight;
  }

  @extend .hover-grow;
}

.hover-grow:hover {
  @extend .no-select;

  @include desktop{
    transform: translateY(-1px) scale(1.03);
    transition: 200ms;
    transform: scale(1.1);
  }

  @extend .active-shrink;
}

.active-shrink:active {
  transform: scale(.8);
  box-shadow: 0 0 0 0 #fff;
}

.hover-grow-subtle:hover {
  transition: 50ms;
  transform: scale(1.01);
}

.hover-pointer:hover {
  cursor: pointer;
}

.hover-arrow:hover {
  cursor: default;
}

